@media screen and (max-width: 499px) {
    /* 导航栏 */
    .nav{
        padding: 0 !important;
        ul{
            li{
                display: none !important;
            }
            li:nth-child(1){
                flex-grow: 8 !important;
                display: inline !important;
            }
            li:nth-child(2){
                flex-grow: 1 !important;
                display: inline !important;
            }

        }
    }
    // home页
    .home-container{
        header{
            .centerText{
                .textList{
                    width: 95vw !important;
                    .line{
                        font-size: 14px !important;
                    }
                }
            }
        }
    }
    /* 主页 */
    .index{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .left{
            order:1 !important;
            margin: 15px 20px !important;
            width: 80vw !important;
            max-width: 300px !important;
            height: auto !important;
            .avatar{
                width: 20vw !important;
                max-width: 300px !important;
                height: 20vw !important;
            }
            .statistics {
                font-size: 14px !important;
            }
            .weather{
                width: 100% !important;
                .today{
                    i{
                        font-size: 3vw !important;
                    }
                    span{
                        font-size: 1.5vw !important;
                    }
                }
                span{
                    font-size: 1.5vw !important;
                }
            }
            h5{
                font-size: 2vw !important;
            }
        }
        .main{
            order:3 !important;
            margin: 15px 20px !important;
            width: 90vw !important;
            max-width: 300px !important;
            padding: 0 !important;
        }
        .right{
            order:2 !important;
            width: 90vw !important;
            min-height: auto !important;
            .memo{
                width: 100% !important;
                .el-card{
                    max-width: 90vw !important;
                    // width: 90vw !important;
                }
            }
            margin: 15px 20px !important;
        }
    }
    /* 日常组件 */
    .daily-container{
        padding: 10px;
        .myText{
            .myHeader{
                .nTime{
                    .time{
                        font-size: 12px;
                    }
                }
            }
            .myBody{
                .text{
                    font-size: 14px;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                }
                ::v-deep .demo-image__preview{
                    width: 50vw !important;
                    img{
                        width: 15vw !important;
                        height: 15vw !important;
                    }
                }
            }
        }
    }
    // 任务页面
    .task-container{
        .task-header {
            .countdown{
                width: 80vw !important;
                height: 50vh !important;
                max-height: 300px !important;
                .countdown-top {
                    font-size: 26px !important;
                }
                .countdown-main {
                    height: 120px !important;
                    line-height: 120px !important;
                    span{
                        font-size: 16px;
                    }
                    .time {
                        font-size: 66px !important;
                    }
                }
                .countdown-footer {
                    height: 84px !important;
                    .year,.month,.day {
                        span:nth-child(1){
                          font-size: 16px !important;
                        }
                        span:nth-child(2){
                          font-size: 12px !important;
                        }
                    }
                    .now-time{
                        span:nth-child(1){
                          font-size: 16px !important;
                        }
                        span:nth-child(2){
                          font-size: 12px !important;
                        }
                    }
                }
            }
            .search {
                width: 80vw !important;
            }
        }
        .task-main{
            flex-direction: column !important;
            .task-list {
                order: 2 !important;
                width: 90vw !important;
                .task-list-nav {
                    ul {
                        li {
                            .nav-text {
                                font-size: 14px !important;
                            }
                        }
                    }
                }
                .task-list-main{
                    .task-list-main-title{
                        height: 50px !important;
                        p {
                            font-size: 16px !important;
                        }
                        // 时间
                        span:nth-child(1) {
                          display: none !important;
                        }
                        // 添加按钮
                        span:last-child {
                          font-size: 16px !important;
                        }
                    }
                }
                .task-list-main-show {
                    ul {
                        li {
                            span {
                                img {
                                    margin: 0 !important;
                                }
                            }
                        }
                    }
                }
            }
            .nets {
                order: 1 !important;
                width: 90vw !important;
                max-width: 90vw !important;
                height: 200px !important;
                /* 隐藏滚动条 */
                scrollbar-width: none !important; /* firefox */
                -ms-overflow-style: none !important; /* IE 10+ */
                overflow-x: hidden !important;
                overflow-y: auto !important;
                .nets-list{
                    display: flex !important;
                    flex-direction: column !important;
                    padding: 0 10px !important;
                    li{
                        height: 50px !important;
                        width: 100% !important;
                    }
                    .nets-header {
                        display: none !important;
                    }
                }
            }
            /* 隐藏滚动条 */
            .nets::-webkit-scrollbar {
                display: none !important;
            }
        }
        .model {
            .dailyTask {
                .el-input {
                    width: 100% !important;
                    padding: 20px 0 0 !important;
                }
            }
        }
    }
    // 音乐页面
    .music-container {
        .music{
            height: auto !important;
            width: 90vw !important;
            flex-direction: column !important;
            .my_music {
                margin: 15px !important;
                width: 100% !important;
                max-width: 100% !important;
                order: 2 !important;
                .my_song {
                    .my_song_list {
                        .my_song_time {
                            font-size: 12px !important;
                        }
                        p{
                            font-size: 12px !important;
                        }
                    }
                    .music_bar {
                        height: 10% !important;
                        position: relative !important;
                        .song_cover {
                            display: none !important;
                        }
                        .song_bar {
                            height: 80px !important;
                            .song_info {
                                font-size: 12px !important;
                            }
                        }
                        .song_control {
                            top: 65px !important;
                            position: absolute !important;
                            height: 0px !important;
                            width: 100% !important;
                            div{
                              flex-grow: 1 !important;
                              text-align: center !important;
                            }
                            img {
                                width: 16px !important;
                                height: 16px !important;
                            }
                            .sound{
                              width: 16px !important;
                              height: 24px !important;
                            }
                        }
                    }
                }
            }
            .search{
                width: 100% !important;
                max-width: 100% !important;
                order: 1 !important;
                padding: 0 !important;
                .search_sings{
                    height: 20vh !important;
                    padding: 0 !important;
                    // overflow: hidden;
                    .search_sings_list{
                        height: 100% !important;
                        .search_sing{
                            .collect_sing{
                                margin: 0 10px !important;
                            }
                            .sing_name{
                                padding: 0 10px !important;
                            }
                            .sing_mv{
                                margin: 0 10px !important;
                            }
                        }
                    }
                }
            }
        }
        .my_mv {
            height: auto !important;
            width: 90vw !important;
            .mv_index_video {
                .mv_video {
                    .sing_info {
                        font-size: 12px !important;
                        h6 {
                            font-size: 12px !important;
                        }
                    }
                }
            }
        }
    }
    // 轮播图组件
    .carousel {
        width: 90vw !important;
        height: 45vw !important;
    }
    // user组件
    .user-container {
        .user-main {
            padding: 100px 20px !important;
        }
    }
    // model组件
    .model {
        .model-dialog {
            .model-body {
                padding: 42px 10px 54px !important;
            }
        }
    }
    // 笔记页面
    .notes-container {
        .notes-sort {
            .notes-sort-header {
                width: 150px !important;
                span {
                    width: 110px !important;
                }
            }
            .notes-sort-list {
                width: 150px !important;
                .el-collapse-item__wrap {
                    .el-collapse-item__content{
                        div {
                            padding-left: 10px !important;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 500px) and (max-width: 991px) { 
    .nav{
        padding: 0 !important;
        ul{
            li{
                display: none !important;
            }
            li:nth-child(1){
                flex-grow: 8 !important;
                display: inline !important;
            }
            li:nth-child(2){
                flex-grow: 1 !important;
                display: inline !important;
            }

        }
    }
    .index{
        .left{
            margin: 15px 20px !important;
            .avatar{
                width: 10vw !important;
                height: 10vw !important;
            }
            .statistics {
                font-size: 14px !important;
            }
            .weather{
                .today{
                    i{
                        font-size: 3vw !important;
                    }
                    span{
                        font-size: 1.5vw !important;
                    }
                }
                span{
                    font-size: 1vw !important;
                }
            }
            h5{
                font-size: 2vw !important;
            }
        }
        .right{
            margin: 15px 20px !important;
            .memo{
                .el-card{
                    ::v-deep .clearfix>span{
                        display: none !important;
                    }
                    ::v-deep .el-card__body{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .daily-container{
        // padding: 10px;
        .myText{
            .myHeader{
                .nTime{
                    .time{
                        font-size: 12px;
                    }
                }
            }
            .myBody{
                .text{
                    font-size: 14px;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                }
                ::v-deep .demo-image__preview{
                    width: 35vw !important;
                    img{
                        width: 10vw !important;
                        height: 10vw !important;
                    }
                }
            }
        }
    }
    /* 历程树组件 */
    .task-container{
        .task-header {
            .countdown{
                width: 80vw !important;
                height: 50vh !important;
                max-height: 450px !important;
                .countdown-footer {
                    height: 84px !important;
                    .year,.month,.day {
                        span:nth-child(1){
                          font-size: 22px !important;
                        }
                        span:nth-child(2){
                          font-size: 14px !important;
                        }
                    }
                    .now-time{
                        span:nth-child(1){
                          font-size: 22px !important;
                        }
                        span:nth-child(2){
                          font-size: 14px !important;
                        }
                    }
                }
            }
            .search {
                width: 80vw !important;
            }
        }
        .task-main{
            .task-list {
                width: 65% !important;
                .task-list-main{
                    .task-list-main-title{
                        height: 50px !important;
                        p {
                            font-size: 16px !important;
                        }
                        // 时间
                        span:nth-child(1) {
                          display: none;
                        }
                        // 添加按钮
                        span:last-child {
                          font-size: 16px !important;
                        }
                    }
                }
            }
            .nets {
                /* 隐藏滚动条 */
                scrollbar-width: none !important; /* firefox */
                -ms-overflow-style: none !important; /* IE 10+ */
                overflow-x: hidden !important;
                overflow-y: auto !important;
                .nets-list{
                    .nets-header {
                        display: none !important;
                    }
                }
            }
            /* 隐藏滚动条 */
            .nets::-webkit-scrollbar {
                display: none !important;
            }
        }
    }
    // user组件
    .user-container {
        .user-main {
            padding: 100px 50px !important;
        }
    }
    // 音乐页面
    .music-container {
        .music{
            padding: 12px !important;
            height: auto !important;
            width: 90vw !important;
            flex-direction: column !important;
            .my_music {
                margin: 15px !important;
                width: 100% !important;
                max-width: 100% !important;
                order: 2 !important;
            }
            .search{
                width: 100% !important;
                max-width: 100% !important;
                order: 1 !important;
                padding: 0 !important;
                .search_sings{
                    height: 20vh !important;
                    padding: 0 !important;
                    // overflow: hidden;
                    .search_sings_list{
                        height: 100% !important;
                        .search_sing{
                            .collect_sing{
                                margin: 0 10px !important;
                            }
                            .sing_name{
                                padding: 0 10px !important;
                            }
                            .sing_mv{
                                margin: 0 10px !important;
                            }
                        }
                    }
                }
            }
        }
        .my_mv {
            height: auto !important;
            width: 90vw !important;
            .mv_index_video {
                .mv_video {
                    img {
                        object-fit: cover !important;
                    }
                    .sing_info {
                        font-size: 14px !important;
                    }
                }
            }
        }
    }
    // 音乐组件
    .music-contain {
        .musicbar {
            .song-control {
                width: 120px !important;
                padding: 0 10px !important;
            }
            .song-features {
                width: 180px !important;
            }
        }
    }
    // 轮播图组件
    .carousel {
        width: 90vw !important;
        height: 45vw !important;
    }
 }

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) and (max-width: 1199px) { 
    li:nth-child(1){
        flex-grow: 16 !important;
    }
    // 首页组件
    .index{
        .left{
            margin: 15px 20px !important;
            .avatar{
                width: 10vw !important;
                height: 10vw !important;
            }
            .weather{
                .today{
                    i{
                        font-size: 3vw !important;
                    }
                    span{
                        font-size: 1.5vw !important;
                    }
                }
            }
        }
        .right{
            margin: 15px 20px !important;
        }
    }
    /* 音乐模块 */
    .music-container {
        .my_mv {
            .mv_index_video {
                .mv_video {
                    .sing_info {
                        font-size: 14px !important;
                    }
                }
            }
        }
    }
    // 日常动态组件
    .daily-container{
        .myText{
            .myBody{
                ::v-deep .demo-image__preview{
                    width: 400px !important;
                    img{
                        width: 10vw !important;
                        height: 10vw !important;
                    }
                }
            }
        }
    }
    /* 历程树组件 */
    .task-container{
        .task-main{
            .task-list {
                width: 65% !important;
                .task-list-main{
                    .task-list-main-title{
                        height: 50px !important;
                        p {
                            font-size: 18px !important;
                        }
                        // 时间
                        span:nth-child(1) {
                          font-size: 18px !important;
                        }
                        // 添加按钮
                        span:last-child {
                          font-size: 18px !important;
                        }
                    }
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media screen and (min-width: 1200px) { 
    
    .index{
        ul{
            padding: 0 60px !important;
        }
        li:nth-child(1){
            flex-grow: 50 !important;
        }
        .left{
            width: 300px !important;
        }
        .main{
            width: 50vw !important;
            max-width: 754px !important;
        }
        .right{
            width: 300px !important;
        }
    }
    /* 音乐模块 */
    .music-container{
        ul{
            padding: 0 60px !important;
        }
        li:nth-child(1){
            flex-grow: 50 !important;
        }
        .music{
            .search{
                .search_sings{
                    .search_sings_list{
                        .search_sing{
                            .collect_sing{
                                margin: 0 10px !important;
                            }
                            .sing_name{
                                padding: 0 10px !important;
                            }
                            .sing_mv{
                                margin: 0 10px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    /* 历程树组件 */
 }
